form {
    margin: auto;
    margin-top: 62px;
    width: 427px;
    border: 2px solid;
    border-color: #000000;
}

.form-item input {
    border-color: #C3CDC0;
    font-size: large;
}

.form-item {
    padding-left: 31px;
}

h1 {
    padding-left: 25%;
}

#form1 {
    padding-top: 31px;
}

#form4 {
    padding-bottom: 31px;
}

input, button, select {
    box-sizing: border-box;
    height: 38px;
    width: 364px;
}

input, button {
    border: 2px solid;
    border-color: #0b1472;
}

textarea {
    border: 2px solid;
    border-color: #0b1472;
    background-color: white;
    font-size: large;
}

.form-item input {
    border-color: #0b1472;
}

button {
    color: #31408b;
    background-color: #cfd2e7;
    position: relative;
}

#cancel {
    margin-top: 2%;
}

.form-item button:hover {
    background-color: #19216a;
    color: white;
}

.form-item input:hover {
    border-color: #31408b;
}

#error_task_name {
    background-color: #B0706D;
    color: white;
    margin-left: 31px;
    margin-top: 12px;
    font-size: large;
    height: 38px;
    width: 364px;
    display: none;
}

#error_server {
    background-color: #B0706D;
    color: white;
    margin-left: 31px;
    margin-top: 12px;
    font-size: large;
    height: 38px;
    width: 364px;
    display: none;
}

#error_estimation {
    background-color: #B0706D;
    color: white;
    margin-top: 12px;
    font-size: large;
    height: 38px;
    width: 364px;
    display: none;
}

#error_project {
    background-color: #B0706D;
    color: white;
    margin-left: 31px;
    margin-top: 12px;
    font-size: large;
    height: 38px;
    width: 364px;
    display: none;
}

.error {
    box-sizing: border-box;
}
