table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid #172A3A;
    border-radius: 6px;
    background-color: white;
}

td {
    border: 1px solid #172A3A;
}

th {
    background-color: #09BC8A;
}

th,
td {
    font-weight: bold;
    border: 1px solid #172A3A;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}
